<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itesm.labs" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.itesm.labs.LoginActivity"
            android:icon="@drawable/ic_logo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.itesm.labs.CategoriesActivity"
            android:label="@string/categories_activity" >
        </activity>

        <service
            android:name="com.itesm.labs.rest.service.LaboratoryService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="com.itesm.labs.LaboratoriesActivity"
            android:label="@string/title_activity_laboratories"
            android:parentActivityName="com.itesm.labs.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itesm.labs.LoginActivity" />
        </activity>
    </application>

</manifest>
