<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itesm.labs" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LabsTheme" >
        <activity
            android:name=".activities.LoginActivity"
            android:icon="@drawable/ic_logo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CategoriesActivity"
            android:label="@string/categories_activity" >
        </activity>
        <activity
            android:name=".activities.LaboratoriesActivity"
            android:label="@string/laboratories_activity"
            android:parentActivityName=".activities.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itesm.labs.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:parentActivityName=".activities.LaboratoriesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itesm.labs.LaboratoriesActivity" />
        </activity>
    </application>

</manifest>
